# Local Network Settings (Change these if your PC requires different ports)
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Security (Ask the team lead for this JSON file and place it in the root folder)
FIREBASE_CREDENTIALS_PATH=firebase_credentials.json